.video-background {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;

}

.video-background2 {
    position: relative;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;

}

#video-background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.video-background img {
    width: 100%;
    object-fit: cover;
    object-position: center;

}
.video-background-text {
    background: rgb(0 0 0 / 55%);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: absolute;
}
.video-background-text h1 {
    font-size: 3rem;
}
.video-background-text p {
    font-size: 1.3rem;
    margin: 0 auto;
    width: 800px;
    font-weight: bold;
    line-height: 2;
}
.video-background-text button {
    background: white;
    color: black;
    padding: 10px;
    border: 0px;
    width: 30%;
    margin: 0 auto;
    border-radius: 50px;
}

.video-background-text button:hover {
    background: gray;
    cursor: pointer;
}
.section {
    width: 80%;
    margin: 0 auto;
    padding: 80px 0px;
}
.section .list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.4rem;
}
.section .list p {
    cursor: pointer;
}

.section .list-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}
.section .list-2 a {
    padding: 10px;
    background: white;
    color: black;
    border-radius: 50px;
    margin: 0px 10px;
    cursor: pointer;
    text-decoration: none;
}
.section .list-2 .active {
    background: black;
    color: white;
}
.section .list-2 .select {
    padding: 5px;
}
.section .list-2 a:hover {
    background: black;
    color: white;
}
.section .list a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: start;
    margin-top: 40px;
    gap:69px;
    flex-wrap: wrap;
}
.card-wapper {
    display: inline-block;
    color: black;
    text-decoration: none;
    width: calc(30% - 10px);
    cursor: pointer;

}
.card-wapper:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.card {
    background-color: white;
    flex-shrink: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 600px;
}
.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.card .event-img {
    object-position: top;
    border-bottom: 1px solid black;
}
.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.event-details div {
    display: flex;
    align-items: center;
}

.event-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.event-description {
    margin-top: 15px;
}
.event-action {
    text-align: center;
}
.event-action button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.event-action button:hover {
    background-color: #ddd;
}
.page {
    text-align: center;
    margin-top: 40px;
}
.page a {
    color:black;
}

.container-detail {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.detail-content {
    margin-top: 30px;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.2rem;
}
.full-img {
    width: 100%;
}
.back {
    margin-top: 80px;
    text-align: center;
}
.back a {
    color: black;
}
.lounge-background {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    background-color: black;
}
.lounge-box {
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); */
    width: 100%;
}
.lounge-box .town {
    font-size: 1rem;
}
.lounge-title {
    font-size: 1.3rem;
}
.lounge-title span {
    font-size: 1rem;
}
.lounge-desc {
    font-weight: 100;
    margin-top: 20px;
}
 .space-image {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;

}
.space-image img {
    width: 100%;
}
.space-box p {
    font-weight: 300;
    text-align: center;
}
.space-box .space-image {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;

}
.space-box .space-image img {
    width: 100%;
}

.image-container {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
}


.image-wrapper {
    position: relative;
    width: 100%; /* 원하는 너비로 설정 */
    height: 450px; /* 원하는 높이로 설정 */
    overflow: hidden;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */

}

.image-wrapper  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.image-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#111;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    color:black;
}

.image-wrapper  .overlay .text {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    display: none; /* 초기에는 텍스트를 숨깁니다 */
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transform: translateY(10%);
    transition: transform 0.8s ease;
    line-height: 1.5;
}
.image-wrapper  .overlay .text p:first-child {
    font-weight: 300;
    font-size: 1rem;
    text-align: justify;
}
/* .image-wrapper  .overlay .text p:nth-child(2) {
    padding-top:7px;
    padding-bottom: 20px;
    font-size: .9rem;
}
.image-wrapper  .overlay .text p:nth-child(3) {
    font-size: 1rem;
} */
.image-wrapper:hover .image {
    opacity: 1;
}

.image-wrapper:hover .overlay {
    opacity: 0.9;
}

.image-wrapper:hover .overlay .text {
    display: block; /* 마우스를 오버할 때 텍스트를 표시합니다 */
    transform: translateY(0);
}
.image-wrapper .title {
    position: absolute;
    color: white;
    top: 25px;
    left: 30px;
    line-height: 1.7;
    font-size: 0.8rem;
}
.image-wrapper .title p:last-child {
    font-size:1.3rem;
    font-weight: bold;
}
.image-wrapper .overlay-wapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 0.5s ease-in-out;
}


@media (max-width: 1024px) { 
    .container {
        gap: 10px;
    }
    .video-background {
        height: 30vh;
        background-color: black;
    }
    .section {
        width: 100%;
        padding: 80px 10px;
    }
    .card-wapper {
        width:100%;

    }
}